*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #C5C5C5;
    min-height:100%;
    position:relative;
    
    
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-bottom: 60px;
    
}
.left{
    width: 300px;
    background-color: #32a8a4;
    padding: 20px;

}
.left:hover{
    background-color: #615e5e;
    cursor: pointer;
}
.left h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
}
ul{
    display: flex;
    list-style: none;

   
}
li{
    padding-left: 10px;
    padding-right: 15px;
    border-right: 1px solid #C5C5C5;
    color:#979797 ;
    font-size: 20px;
    font-weight: 600;
}
li:hover{
    color:#615e5e;
    cursor: pointer;
}
a{
text-decoration: none;
}

main{
   max-width: 1000px; 
   width: 100%;
   position: relative;
   
  
/* background-color: #251581; */
margin: 0 auto;
}

.parentBox{
    display: flex;

justify-content: space-between;
width: 1000px;
padding-top: 45px;
position: absolute;
top: 65px;
}


.Left{
   
    width: 750px;
    height: 840px;
     padding: 30px;
     margin: 40px;
     background: #ffffff;
     border: 1px solid #ddd;
     margin-right: 30px;
 }

 .right{
    width: 320px;
    height: 202px;
      background-color: #ffffff;
       padding: 30px;
        margin: 40px;
        border: 1px solid #ddd;
    }
    
    img{
        width: 62px;
        height: 62px;
    }

    
.image{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
    }
    
    .image img:hover{
        transition: transform 0.25s;
        cursor: pointer;
        transform: scale(1.1);
        
    }

.portfolio{
    color: #4aaaa5;
    font-size: 30px;
    text-transform: capitalize;
   margin-top: 10px;
   margin-bottom: 20px;
   border-bottom: 2px solid rgb(190, 170, 170);
   padding-bottom: 20px;
}

.photos{
    display: flex;
    flex-wrap: wrap;
} 
.photos img{
    width: 240px;
    height: 210px;
}

.work1{
    position: relative;
margin-right: 20px;
margin-bottom: 20px;
}

h3{
    font-size: 22px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    height: 50px;
    width: 240px;
    padding-top: 15px;
    position: absolute;
    bottom: 15px;
  
}

h2{
    color: #4aaaa5;
    font-size: 26px;
    padding-bottom: 15px;
   border-bottom: 1px solid rgb(190, 170, 170);
text-align: center;
}


footer{
    height: 100px;
    padding: 30px 0px;
    background-color: #615e5e;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 1000px;
   
   
       
       
 
    
   
}

.para{
    font-size: 12px;
    color: #ffffff;
    
}

